.layout-main {
  min-height: 100vh; 
  overflow-x: hidden;
  overflow-y: auto;  
}


.layout-sider {
  background-color: #ffffff !important; 
}

.sider-toggle {
  background-color: #ffffff; 
  border-bottom: 1px solid #f0f0f0; 
}

.toggle-btn {
  color: #009688; 
}


.sider-toggle {
  padding: 10px;
  text-align: right;
}



.layout-main {
  height: 100vh;
  overflow: auto; 
  display: flex;
  flex-direction: column;
}


.layout-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.layout-content {
  flex: 1;
  overflow-y: auto; 
  padding: 10px;
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.mobile-menu-btn {
  display: none;
  text-align: left;
  padding: 8px 16px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.menu-toggle-btn {
  font-size: 20px;
  color: #000;
}

.mobile-drawer .ant-drawer-body {
  padding: 0;
}

.mobile-accordion .ant-collapse-header {
  font-weight: 500;
}

@media (max-width: 992px) {
  .layout-sider {
    width: 180px !important;
  }
  .layout-content-wrapper {
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .layout-main {
    flex-direction: column;
  }
  .layout-sider {
    display: none;
  }
  .layout-content {
    padding: 12px;
  }
   .mobile-menu-btn {
    display: block;
  }

  .layout-sider {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .layout-content {
    padding: 8px;
  }
}
