.employee-card {
  border-radius: 10px;
  border: 1px solid #dcfce7;
  height: 220px;
  transition: all 0.3s ease;
  position: relative;
}

.delete-button {
  position: absolute !important;
  top: 8px;
  right: 8px;
  border-radius: 8px !important;
}

.employee-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
}

.employee-avatar {
  background-color: #14b8a6 !important;
  font-size: 24px;
  color: #fff !important;
}

.employee-info {
  overflow: hidden;
}

.employee-name {
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.employee-status {
  margin-top: 4px;
}

.employee-divider {
  margin: 12px 0 !important;
}

.employee-departments {
  margin-bottom: 12px;
}

.department-tags {
  margin-top: 4px;
}

.dept-tag {
  margin-bottom: 4px;
}

.employee-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.employee-location,
.employee-phone {
  margin: 0 !important;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  color: #ef4444;
}

.employee-card:hover {
  box-shadow: 0 0 10px rgba(0, 255, 150, 0.2);
}
/* .location-option {
  display: flex;
  align-items: center;
  gap: 6px;
}

.location-icon {
  color: #ef4444;
  font-size: 16px;
}
 */
 .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader-image {
  width: 150px;
}
.employees-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  animation: fadeIn 0.5s;
}

.employees-header {
  padding-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;
}

.employees-title {
  font-weight: bold !important;
  color: #0a0b0bff !important;
  margin: 0 !important;
}

.content-grid {
  flex: 1;
  overflow-y: auto;
}

/* Hide scrollbar */
.scrollable-grid::-webkit-scrollbar {
  display: none;
}
.scrollable-grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Modal styling */
.employee-modal {
  height: 90vh;
  bottom: 80px;
}

/* Buttons */
.cancel-btn {
  border-color: #14b8a6 !important;
  color: black !important;
}
.submit-btn {
  background-color: #14b8a6 !important;
  color: #ffffff !important;
  border-color: #14b8a6 !important;
}

/* Form */
.employee-form {
  margin-top: 28px;
}

/* Hover animation */
.ant-card-hoverable:hover {
  border-color: #14b8a6 !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
